*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Podkova", serif;
}

header{
    background-color: aquamarine;
    text-align: center;
}

footer{
    background-color: rgb(187, 89, 89);
    padding: 20px 50px
}
.about{
    background-color: beige;
    padding: 20px 50px;
}
.articles{
    background-color: azure;
}
h2{
    text-align: center;
    font-size: 32px;

}

.avatar{
    display: block;
    margin: 10px auto;
    height: 10em;
}

p{
    font-size: 1.5em;
    line-height: 2.5em;
}

.list{
    margin-left: 50px;
    font-size: 1.5em;
}
nav{
    padding: 10px 50px;
}
.menu{
    list-style: none;
}